




{%extends 'photo/base.html'%}
{% block content %}

<div class="album py-5 bg-light">
   <div class="container">
       <div class="row">
           {% for photo in photos %}         
           <div class="col-md-4">
               <div class="card mb-3" style="max-width: 540px;">
                   <img src='{{photo.photo.url}}' alt="" class="card-img-top" width="100%" height="225">
                   <div class="card-body">
                       <p class="card-text">
                           {{ photo.description }}
                       </p>
                       <div class="d-flex justify-content-between align-items-center">
                           <div class="btn-group">
                               <button type="button" class="btn btn-sm btn-outline-primary" id="photo{{photo.id}}"
                                   data-whatever="{{photo.id}}" data-toggle="modal" data-target="#{{photo.id}}"
                                   onclick="showinfo(go)">View Photo</button>
                           </div>
                       </div>
                   </div>
               </div>
           </div>           
           {% empty %}
           <h3 class="text-center"> Ooops!!!! </h3>
           {%endfor%}
       </div>
   </div>
</div>


{% for photo in photos %}
<div id="{{photo.id}}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
   aria-hidden="true">
   <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable ">
       <div class="modal-content bg-secondary">
           <div class="modal-header">
               <h4 class="modal-title" id="imagetitle"></h4>
               <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
           </div>
           <div class="modal-body" style="text-align:center">
               <img id="imageimage" class="figure-img img-fluid rounded" src='{{photo.photo.url}}'>
               <p id="imagedescription">{{ photo.location }}</p>
               <a target="_blank" href="{{photo.photo.url}}" id="imagedirectlink" class="btn btn-primary" >Direct image link</a>
               <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
           </div>
  
       </div>
   </div>
</div>
{%endfor%}
{% endblock %}