{%extends 'photo/base.html'%} 
{% block content %}
<div class="container">

  <div class="row">
    {% if locations %}
      <h2>Found {{ locations|length }} of searched term {{message}}</h2>
    {% else %}
      <h2> There is no location for the search term {{message}}</h2>
    {% endif %}

  </div>

  <div class="row">

  {% if location %}
    {% for location in locations %}
      <div class="col-sm-6 col-md-3">
          <h1>{{location.title}}</h1>
      </div>
    {% endfor %}
  {% endif %}
  </div>
</div>
{% endblock %}